In [ ]:
# Loops in python
# for loop collections
    range()
    string
    list
    tuple 
    set
    dictionary
# while loop
    condition

In [ ]:
# for loop
for variable in collection:
    body

In [ ]:
str1="hello World"
for i in str1:
    print(i)

In [1]:
# while loop
i=0
while i<10:
    print("yes" + str(i))
    i=i+1

yes0
yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9

In [2]:
i=1
while i<=50:
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [4]:
i=0
while i<5:
    print("hello")
    i=i+1

hello
hello
hello
hello
hello

In [5]:
fruits=['Grapes','Watermelon','Apple','Mangoes','Orenge']
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

Grapes
Watermelon
Apple
Mangoes
Orenge

In [6]:
fruits=['Grapes','Watermelon','Apple','Mangoes','Orenge']
for item in fruits:
    print(item)

Grapes
Watermelon
Apple
Mangoes
Orenge

In [7]:
for i in range(2,8):
    print(i)

# for i in range(1,8,2):
#     print(i)

2
3
4
5
6
7

In [8]:
for i in range(10):
    print(i)
else:
    print("this is insid else of for")

0
1
2
3
4
5
6
7
8
9
this is insid else of for

In [9]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [10]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [11]:
i=4
def run (player):
    pass
def ouch (player):
    pass

if i>0:
    pass
    
while i>6:
    pass

print("good morning")

good morning

In [12]:
l1=["one","two","thre","four","five","six","seven"]

for day in l1:
    
    if day.startswith("s"):
        print("hello "+day)

hello six
hello seven

In [13]:
num = int(input("enter the number:"))
prime = True
for i in range(2,num):
    if(num%i == 0):
        prime = False
        break
        
if prime:
    print("This number is Prime")  
else:
    print("This number is not Prime")

enter the number:4
This number is not Prime

In [14]:
#factorial assingment qution
#n! = 1*2*3*.....*n
#5! = 1+2+3+4+5

num = int (input("Enter The Number:"))
factorial=1
for i in range(1,num+1):
    factorial = factorial * i
    print (f"The Factorial Of {num} Number Is {factorial}")

Enter The Number:10
The Factorial Of 10 Number Is 1
The Factorial Of 10 Number Is 2
The Factorial Of 10 Number Is 6
The Factorial Of 10 Number Is 24
The Factorial Of 10 Number Is 120
The Factorial Of 10 Number Is 720
The Factorial Of 10 Number Is 5040
The Factorial Of 10 Number Is 40320
The Factorial Of 10 Number Is 362880
The Factorial Of 10 Number Is 3628800

In [15]:
n = 4
for i in range(4):
    print("* " *(i+1))

*
* *
* * *
* * * *

In [16]:
n = 4
for i in range(3):
    #for j in range(n-i-1)
        print(" " * (n-i-1),end="")
        print("*" * (2*i+1),end="")
        print(" " * (n-i-1))

   *
  ***
 *****

In [ ]:
#loop
#range ([start],stop,[step])
#by defalut start from 0

In [3]:
# range([start,]stop[,step])
# by default starts from 0
# by deafult step is 1
num=int(input("Enter num: "))
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

Enter num: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [17]:
print(range(1,20,2))
for i in range(1,20,5):
    print(i)

range(1, 20, 2)
1
6
11
16

In [ ]:
# -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9
for i in range(5,-4,-1):
    print(i)

In [ ]:
i=1
while i<10:
    print("hello")
    i=i+1

In [7]:
for i in range(2,26,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [17]:
num=int(input("Enter num: "))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter num: 5
120

In [18]:
num=int(input("Enter num: "))
sum=1
for i in range(1,num+1):
    sum=sum+i
    print(sum)

Enter num: 5
2
4
7
11
16

In [ ]:
# control statements
# break  --it terminates the loop permanently
# continue
# pass

In [19]:
i=10
if i<5:
    pass
else:
    print("hello")

hello

In [18]:
for i in range(1,20):
    if i==7:
        continue 
    print(i)

1
2
3
4
5
6
8
9
10
11
12
13
14
15
16
17
18
19