In [1]:
# floor division

print(83/4)
print(83//4)

20.75
20

In [2]:
# power operator **
print(3**3)

27

In [3]:
# relational operator > < >= <= == !=
print(89>25)
print(33<12)

True
False

In [4]:
print("hello">"demo")

True

In [5]:
name=input("Enter your Name: ")
age=int(input("Enter Your Age: "))
mobile=int(input("Enter Your Mobile No. : "))
email=input("Enter Your Email: ")
print(f"Your Name is {name}\nYour age is {age}\nYour mobile is {mobile}\nYour email is {email}")

Enter your Name: bhumi thakar
Enter Your Age: 21
Enter Your Mobile No. : 6352506372
Enter Your Email: bthakar150002@gmail.com
Your Name is bhumi thakar
Your age is 21
Your mobile is 6352506372
Your email is bthakar150002@gmail.com

In [6]:
firstname=input("Enter First NAme: ")
lastname=input("Enter Last name: ")
fathername=input("Enter Father NAme: ")
fullname=firstname+" "+lastname+" "+fathername #string concatenation
# your fullname is {fullname}
# your full name is firstname lastname fathername
print(f"Your full name is {fullname}")

Enter First NAme: thakar
Enter Last name: bhumi
Enter Father NAme: dipakbhai
Your full name is thakar bhumi dipakbhai

In [7]:
str1='''Hello ia m good
How are you
good morning '''
print(str1)

Hello ia m good
How are you
good morning

In [ ]:
# Logical operator
AND and --all true then true anyone flase then false
OR  or --anyone true then true if all flase then false
NOT not --reverse your answer

In [9]:
print(89>36 and 44>23 and 21<87)
print(89>36 or 44<23 or 21>87)
print(not(84>25))

True
True
False

In [10]:
# biotwise operator
print(88&94)
print(88|94)

88
94

In [11]:
print(125&97)
print(48|84)

97
116