In [ ]:
# Set is also acollection pof element of similar or different datatype
# set is defined in culryt braces
# set is muatble but only by using theri methods
# set is unordered datatype means they have no indexes
# element in set is arranged in random manner
# sets does not allow duplicates values because they don't have indexes

In [9]:
set1={45,69.36,False,"String",(48,96)}
# set only contains datatype which is immutable
print(set1)

{False, (48, 96), 69.36, 'String', 45}

In [10]:
set1={1,2,3,1,2,3,1,2,3}
print(set1)

{1, 2, 3}

In [11]:
#list1=set()
list1={}  
print(type(list1))

<class 'dict'>

In [12]:
list1=set()  
print(type(list1))

<class 'set'>

In [13]:
#list1=(True)
list1=(True,)
print(type(list1))

<class 'tuple'>

In [14]:
# set methods
list(dir(set))

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [1]:
set1={56,78,55,43,45,49}
set2={56,78,65,43,54}
# union()---combines elements of two sets
set3=set1.union(set2)
print(set1,set2,set3)

{49, 55, 56, 43, 45, 78} {65, 54, 56, 43, 78} {65, 43, 45, 78, 49, 54, 55, 56}

In [2]:
set1={56,78,55,43,45,49}
set2={56,78,65,43,54}
# intersection()---gives common of two sets
set3=set1.intersection(set2)
print(set1,set2,set3)

{49, 55, 56, 43, 45, 78} {65, 54, 56, 43, 78} {56, 43, 78}

In [3]:
set1={45,67,89,54}
set1.add("hello")
# add()---add a new elements in the set at random position
print(set1)
set1.add("great")
print(set1)

{67, 45, 'hello', 54, 89}
{67, 45, 'hello', 54, 89, 'great'}

In [5]:
# pop()---removes random element from the set
set1={45,67,54,66,191}
set1.pop()
print(set1)

{67, 54, 45, 191}

In [7]:
# remove(value)---removes particular value from set
set1={45,67,54,66,191}
set1.remove(5567)
print(set1)

KeyError: 5567

In [8]:
set1={45,67,32,56,78,54}
set2={89,65,78,34,54,36}
set3=set()
for i in set2:
    if i not in set1:
        set3.add(i)
print(set3)

{89, 65, 34, 36}